@layer components {

  .tab {
    @apply relative;
  }

  .tab.active:before {
    content: '';
    @apply absolute bottom-0 h-[4rem] w-full rounded-tl-[4rem] rounded-tr-[4rem] bg-slate-65;
  }

  .marketing-item.active>div {
    @apply absolute top-[-3rem] left-[-3rem] w-[30rem] h-[30rem] rounded-[80rem] border-[3rem] border-white bg-iris bg-no-repeat bg-center bg-[length:60%];
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>');
  }
}