name: Build Electron App

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Build React frontend
        run: cd app && npm install && npm run build

      - name: Build macOS app
        run: npm run make:mac

      - name: Upload macOS artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mac-dist
          path: out/prod/make/**

  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Build React frontend
        run: cd app && npm install && npm run build

      - name: Build Windows app
        run: npm run make:win

      - name: Upload Windows artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-dist
          path: out/prod/make/**
