name: Build & Release Electron App

on:
  push:
    tags:
      - 'v*' 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    name: Build ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install
        shell: pwsh

      - name: Build React frontend
        run: |
          cd app
          npm install
          npm run build
        shell: pwsh

      - name: Build Electron app
        run: |
          if ("${{ matrix.os }}" -eq "macos-latest") {
              npm run make:mac
          } else {
              npm run make:win
          }
        shell: pwsh

      - name: List output
        run: ls out/prod/make
        shell: pwsh

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}

      - name: Upload release assets
        uses: softprops/action-gh-release@v1
        with:
          files: out/prod/make/**
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
